
/*Login page*/
 .login-button{
    background-color: #741B47 !important;
 }

 .login-button:hover{
    background-color: #741B47 !important;
    opacity: .75;
 }

 .login-button:active{
    opacity: .50;
 }

 .card-login{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
 }

 .navbar{
   height: 70px;
   background-color: #C17BA0 !important;
 }


/*Register*/
.card-register{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.title-text{
   font-family: sans-serif;
   letter-spacing: 0.05em;
}


/*Home*/
.navbar-brand{
   margin-top: 160px;
}

.home-navbar{
   height: 90px;
   /* background-color: #C17BA0 !important; */
}

.drpdwn{
   background-color: #C17BA0 !important;
   border-color: #C17BA0 !important;
}

.bg-home{
   background-image: url("/public/bg-home.jpg");
   background-size: cover;
   width: 1740px;
   height: 300px;
}